<table class="ui table">
<thead>
    <tr>
       <th>Target Date</th>
       <th>Weight Goal</th>
       <th>Chest Goal</th>
       <th>Thigh Goal</th>
       <th>Upper Arm Goal</th>
       <th>Waist Goal</th>
       <th>Hips Goal</th>
   </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        {{date}}
      </td>
      <td>
        {{weight}}
      </td>
      <td>
        {{chest}}
      </td>
      <td>
        {{thigh}}
      </td>
      <td>
        {{upperarm}}
      </td>
      <td>
        {{waist}}
      </td>
      <td>
        {{hips}}
      </td>    
  </tbody>
</table>