
<section class="ui segment">
<div class="ui six small statistics">
    <div class="ui statistic">
        <div class="value">
            <h3>Weight Goal</h3>
        </div>
        <div class="label">
        {{weight}}
        </div>
    </div>
  
    <div class="ui statistic">
        <div class="value">
          <h3>Chest Goal</h3>
          </h3>
        </div>
        <div class="label">
            {{chest}}
        </div>
    </div>

    <div class="ui statistic">
        <div class="value">
            <h3>Thigh Goal</h3>
        </div>
        <div class="label">
        {{thigh}}
        </div>
    </div>

    <div class="ui statistic">
        <div class="value">
        <h3>Upperarm Goal</h3>
        </div>
        <div class="label">
            {{upperarm}}
        </div>
    </div>
  <div class="ui statistic">
        <div class="value">
        <h3>Waist Goal</h3>
        </div>
        <div class="label">
          {{waist}}
        </div>
    </div>
  <div class="ui statistic">
        <div class="value">
        <h3>Hips Goal</h3>
        </div>
        <div class="label">
          {{hips}}
        </div>
    </div>
</div>
</section>
